In [1]:
import mlxtend
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
dataset = [['Jupe', 'Baskets', 'Foulard', 'Pantalon', 'Chapeau'],
          ['Lunettes de soleil', 'Jupe', 'Baskets', 'Pantalon', 'Chapeau'],
          ['Robe', 'Sandales', 'Foulard', 'Pantalon', 'Talons'],
          ['Robe', 'Collier', 'Boucles d’oreilles', 'Foulard', 'Chapeau', 'Talons', 'Chapeau'],
          ['Boucles d’oreilles', 'Jupe', 'Jupe', 'Foulard', 'Cheise', 'Pantalon']]
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)
df=pd.DataFrame(te_ary, columns=te.columns_)  
df

,Baskets,Boucles d’oreilles,Chapeau,Cheise,Collier,Foulard,Jupe,Lunettes de soleil,Pantalon,Robe,Sandales,Talons
0,True,False,True,False,False,True,True,False,True,False,False,False
1,True,False,True,False,False,False,True,True,True,False,False,False
2,False,False,False,False,False,True,False,False,True,True,True,True
3,False,True,True,False,True,True,False,False,False,True,False,True
4,False,True,False,True,False,True,True,False,True,False,False,False

In [2]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.6)

   support itemsets
0      0.6      (2)
1      0.8      (5)
2      0.6      (6)
3      0.8      (8)
4      0.6   (8, 5)
5      0.6   (8, 6)

In [4]:
frequent_itemsets=apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets

   support             itemsets
0      0.6            (Chapeau)
1      0.8            (Foulard)
2      0.6               (Jupe)
3      0.8           (Pantalon)
4      0.6  (Pantalon, Foulard)
5      0.6     (Jupe, Pantalon)

In [ ]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7)

In [ ]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1.25)